<div id="gcodeViewerModal"
  style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(0, 0, 0, 0.548); z-index:2000; align-items:center; justify-content:center;">
  <div id="gcodeViewerContainer" class="gcodeViewerContainer">




    <div id="gcodeViewerStats" class="gcodeViewerStats" style="position:absolute; top:40px; left:10px; z-index:10;">

    </div>




    <div class="sim-controls-bar" style="position:absolute; top:0px; right:0px; z-index:10;">
      <button onclick="closeGcodeViewer()" title="Exit" class="sim-btn sim-exit">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 2L14 14M14 2L2 14" stroke="#fff" stroke-width="2" stroke-linecap="round" />
        </svg>
      </button>
    </div>

    <div class="sim-controls-bar"
      style="position:absolute; bottom:10px; left:10px; width:calc(100% - 20px); z-index:10;">
      <button id="runSimulationBtn" title="Play" class="sim-btn sim-play">
        <svg id="runSimulationIcon" width="16" height="16" viewBox="0 0 16 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="4,2 14,8 4,14" fill="#fff" />
        </svg>
      </button>
      <button id="rewindSimulationBtn" title="Rewind" class="sim-btn sim-rewind">
        <svg id="rewindSimulationIcon" width="16" height="16" viewBox="0 0 16 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="12,2 2,8 12,14" fill="#fff" />
        </svg>
      </button>
      <button id="forwardSimulationBtn" title="Forward" class="sim-btn sim-forward">
        <svg id="forwardSimulationIcon" width="16" height="16" viewBox="0 0 16 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <polygon points="4,2 14,8 4,14" fill="#fff" />
          <polygon points="8,2 18,8 8,14" fill="#fff" />
        </svg>
      </button>
      <label class="sim-speed-label">
        <span>Speed: hhhh</span>
        <input id="simSpeedSlider" type="range" min="0.0001" max="100" value="100" step="0.1"
          style="vertical-align:middle; width:300px;">



        <span id="simSpeedValue">50</span> <span id="simSpeedUnit">ms/step</span>
      </label>
      <button id="togglePointDetectorBtn" class="sim-btn" style="margin-left:10px;" title="Toggle Point Detector">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="8" cy="8" r="7" stroke="#fff" stroke-width="2" fill="none" />
          <circle cx="8" cy="8" r="3" fill="#fff" />
        </svg>
      </button>
    </div>
    <input id="simProgressBar" type="range" min="0" max="1000" value="0" step="1"
      style="position:absolute; bottom:40px; left:10px; width:calc(100% - 20px); z-index:10;">
    <div id="gcode3d" style="width:100%; height:100%; position:relative; overflow:hidden;"></div>
    <div id="gcodeLineInfo" class="gcode-line-info" style="display:none;"></div>
  </div>
</div>