/* Global Base Styles */

html,
body {
    background-color: #252526;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    padding: 0px 0px;
    margin: 0px 0px;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    color: #a7d198;
}